<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename='img/icon_web.png') }}">
    {% if title %}
    <title>main - {{title}}</title>
    {% else %}
    <title>home</title>
    {% endif %}  
    
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static' ,filename='bootstrap/jquery-slim.min.js') }}"></script>
    
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.min.css') }}">

   <!-- custom css files -->
   <link rel='stylesheet' media='screen and (min-width: 858px)' href="{{ url_for('static',filename='styles/style_desk.css') }}" />
   <link rel='stylesheet' media='screen and (max-width: 859px)' href="{{ url_for('static',filename='styles/style_mob.css') }}" />

   <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

   <!-- app.css for apps page -->
   <link rel="stylesheet" href="{{ url_for('static',filename='styles/apps.css') }}">
    

   <!-- fonwesome from w3school -->
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>

   <!-- jquery -->
   <script src="{{ url_for('static' ,filename='jquery/jquery.min.js')}}"></script>



</head>
<body>
  
    <nav class="desktop-navbar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>

    <label style="cursor: pointer;" onclick="location.href='{{ url_for('home') }}'" class="logo">Romil.io</label>
        <ul>
            <li>
                <a class="home-p" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="cate">
                <div class="categories">
                <a href="#" class="ab">Categories</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('apps') }}">Apps</a>
                    <a href="{{ url_for('websites') }}">Websites</a>
                    <a href="{{ url_for('logo_design') }}">Logo Design</a>
                    <a href="{{ url_for('ui_ux_design') }}">UI/UX Design</a>
                </div>
                </div>
            </li>
            <li>
                <a class="services-p" href="{{ url_for('services') }}">Services</a>
            </li>
            <li>
                <a class="blog-p" href="{{ url_for('blog') }}">Blog</a>
            </li>
            <li>
                <a href="{{ url_for('contact') }}" class="contact">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- bootstrap navbar for mobile devices -->
    <!-- fixed-top -- class for fixed nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mobile-navbar">
        <a class="mr-4 logo" href="{{ url_for('home') }}">Romil.io</a>
        <button class="hamburger navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('apps') }}">Apps</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('websites') }}">Websites</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logo_design') }}">Logo Design</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('ui_ux_design') }}">UI/UX Design</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('services') }}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    {% block content %}{% endblock content %}
</body>

    <script src="{{ url_for('static' ,filename='bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static' ,filename='bootstrap/popper.min.js')}}"></script>

</html>