/* ----- nav bar ---------- */

nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
}
.logo{
    color: #ff4500;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #3f3f3f;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}
.contact{
    border:2px solid #ff4500;
    border-radius: 10px;
}
.contact:active,
.contact:hover{
    color: #ffffff;
    background: #ff4500;
    transition: .5s;
}
a:active,
a:hover{
    text-decoration: none;
    color: #ff4500;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #ff4500;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3f3f3f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;}
    /* -- for sticky header -- */
    nav{
        position: fixed;
        top: 0;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
        color: #ffffff;
    }
    .contact{
        border:none;
        border-radius: 0px;
    }
    li:active,
    li:hover{
        background: #ff4500;
        color: #ffffff;
    }
    a:active,
    a:hover{
        text-decoration: none;
        color: #ffffff;
        transition: .5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* -------nav bar-------- */
/* ---------- */

ul{
    /* bcoz of bootstrap auto style don't remove it */
    margin-bottom: 0;
}

/* ---------drop down */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0px 40px 0px 40px;
    text-decoration: none;
    display: block;
    line-height: 40px;
    
}
.categories:hover .dropdown-content{
    display: block;
}
.cate:hover .ab{
    color: #ff4500;
}
.dropdown-content a:hover {
    color: #ffffff;
    background: #ff4500;
    transition: all 0s;
}
@media (max-width:858px){
.categories:hover .ab{
    color: #ffffff;
}
.dropdown-content{
    width: 100%;
}
.dropdown-content a{
    line-height: 80px;
}
/* =========for blog ========= */
.ma-bot{
    margin-bottom: 30%;
}
.desktop-navbar{
    display: none;
}
}

/* mobile-navbar */
.mobile-navbar{
    display: none;
}

  
